[Desktop Entry]
Name=Velin
Comment=PDF reader and toolkit
Exec=velin
Icon=velin
Terminal=false
Type=Application
Categories=Office;Viewer;
StartupNotify=true